* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc49;
    background-image: url(https://images7.alphacoders.com/592/592678.jpg) ;
    background-repeat: no-repeat;
    background-attachment:fixed
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.content h1 {
    margin: 1rem 0;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 0 auto;
        border-radius: 1rem;
    }
} 
